@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");
@import url('https://fonts.cdnfonts.com/css/arial');
@function shadow($x, $y) {
	$h: $x * 0.125em;
	$v: $y * 0.125em;
	@return $h $v 0.125em 0 #0004
}
body {
	font:
		20pt
		"Noto Sans",
		"Segoe UI",
		Arial,
		sans-serif;
	table {
		width: 100%;
		tr {
			th {
				font-size: 1.5em;
				text-align: center;
				columns: 100%;
			}
			td {
				white-space: pre;
				background-color: #ddd;
				text-align: center;
				padding: 0;
				abbr {
					text-decoration: none;
				}
				&.key {
					border-radius: 5%;
					box-shadow:
						@shadow(0,0),
						@shadow(0,0.125em),
						@shadow(0.125em,0),
						@shadow(0.125em,0.125em);
					&.tap {
						color: #800;
					}
					&.hold {
						color: #080;
					}
					&.flick {
						color: #008;
					}
				}
				&:not(.key) {
					background-color: transparent !important;
				}
			}
		}
	}
}
